Repository healthfees-org/workersql: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        files: \.py$
        exclude: ^sdk/
        language_version: python3

  - repo: https://github.com/pycqa/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        files: \.py$
        exclude: ^sdk/
        args: ['-r', '-f', 'json']

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        files: \.py$
        exclude: ^sdk/
        args: ['--max-line-length=88', '--extend-ignore=E203,W503']

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint --fix --ignore-path .eslintignore --quiet
        language: node
        files: \.(ts|js)$
        exclude: (node_modules/|\.github/instructions/|sdk/)
      - id: prettier
        name: Prettier
        entry: npx prettier --write --ignore-path .prettierignore --log-level warn
        language: node
        pass_filenames: true
        files: \.(ts|js|json|md|ya?ml)$
        exclude: (node_modules/|\.github/instructions/|sdk/|dist/|build/|coverage/|^\.pre-commit-config\.yaml$)
      - id: typescript-check
        name: TypeScript Check
        entry: npx tsc --noEmit --skipLibCheck
        language: node
        pass_filenames: false
        files: ''
        always_run: true
        exclude: (node_modules/|\.github/instructions/|sdk/)

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
        args: [-d, relaxed]

feat: implement configuration system
  src/services/ConfigService.ts
  src/services/TablePolicyParser.ts
  tests/services/ConfigService.test.ts
  vitest.config.ts
Due: eslint, prettier

feat: (shard) implement SQLite-backed DO shard with ACID, PITR, capacity, retries
  src/services/TableShard.ts
  tests/services/QueueEventSystem.test.ts
  tests/services/SQLSecurityService.test.ts
  tests/services/SecretsService.test.ts
  tests/services/TableShard.test.ts
  tests/services/TenantIsolationService.test.ts
Due: eslint, prettier

build: integrate Workers Vitest pool and fix integration tests
  .pre-commit-config.yaml
  bun.lock
  package.json
  src/gateway.ts
  src/services/BaseService.ts
  src/services/CacheService.ts
  src/services/SQLCompatibilityService.ts
  src/services/TablePolicyParser.ts
  src/services/TableShard.ts
  tests/global.d.ts
  tests/integration/cache.worker.test.ts
  tests/integration/shard.worker.test.ts
  tests/integration/tsconfig.json
  tests/services/AuthService.test.ts
  tests/services/BaseService.test.ts
  tests/services/CacheService.test.js
  tests/services/CacheService.test.js.map
  tests/services/CacheService.test.ts
  tests/services/ConfigService.test.js
  tests/services/ConfigService.test.js.map
  tests/services/QueueEventSystem.test.ts
  tests/services/RBACService.test.ts
  tests/services/SQLSecurityService.test.ts
  tests/services/SecretsService.test.ts
  tests/services/TableShard.test.ts
  tests/services/TenantIsolationService.test.ts
  tests/services/gateway.test.ts
  tests/vitest.setup.ts
  tsconfig.json
  vitest.config.ts
  vitest.simple.config.ts
  vitest.workers.config.ts
  vitest.workspace.ts
  wrangler.toml
  wrangler.toml.template
Due: eslint, prettier

build: batch hardening, logging normalization, admin proxy
  .eslintrc.cjs
  .github/copilot-instructions.md
  .github/instructions/TODO0.md.x
  .github/instructions/TODO1.md.x
  .github/instructions/TODO2.md.x
  .github/instructions/TODO3.md.x
  .github/instructions/TODO4.md.x
  .github/instructions/TODO5.md.x
  .github/instructions/admin-gui-cloudflare-integration.instructions.md
  .github/instructions/configuration-system.instructions.md
  .github/instructions/consistency-models.instructions.md
  .github/instructions/core-engine.instructions.md
  .github/instructions/data-persistence.instructions.md
  .github/instructions/durable-object-shard-sqlite.instructions.md
  .github/instructions/foundation-architecture.instructions.md
  .github/instructions/objective_v0.instructions.md
  .github/instructions/optimization-performance.instructions.md
  .github/instructions/pre-commit-setup.instructions.md
  .github/instructions/production-deployment.instructions.md
  .github/instructions/queue-invalidation.instructions.md
  .github/instructions/sql-parser.instructions.md
  .gitignore
  .pre-commit-config.yaml
  bun.lock
  package.json
  src/gateway.ts
  src/services/Logger.ts
  src/services/QueueEventSystem.ts
  src/services/RouterService.ts
  src/services/SQLCompatibilityService.ts
  src/services/TableShard.ts
  tests/integration/batch.worker.test.ts
  tests/integration/consistency.worker.test.ts
  tests/integration/invalidation.worker.test.ts
  tests/services/SQLCompatibilityService.test.ts
  tests/services/queue.consumer.test.ts
  tsconfig.json
  vitest.config.ts
  wrangler.toml
Due: eslint, prettier

typo: fix naming in docs
  .github/instructions/TODO3.md.x
Due: none

Update funding sources in FUNDING.yml
  .github/FUNDING.yml
Due: prettier

feat: complete MonitoringService testing and documentation
  .github/instructions/TODO4.md.x
  .github/instructions/monitoring-service.instructions.md
  package.json
  src/services/MonitoringService.ts
  src/types/index.ts
  tests/browser/MonitoringService.browser.test.ts
  tests/fuzz/MonitoringService.fuzz.test.ts
  tests/integration/MonitoringService.integration.test.ts
  tests/services/MonitoringService.test.ts
  tests/smoke/MonitoringService.smoke.test.ts
  vitest.workers.config.ts
  vitest.workspace.ts
Due: eslint, prettier

fix: resolve test:coverage failure by configuring istanbul coverage provider
  package.json
  vitest.config.ts
  vitest.workspace.js
Due: eslint, prettier

Revise testing structure and coverage requirements
  .github/copilot-instructions.md
Due: prettier

docs: updated ADR numbers
  .github/instructions/TODO4.md.x
  .github/instructions/TODO5.md.x
Due: none

docs: updated ADR numbers
  .github/instructions/TODO5.md.x
Due: none

Potential fix for code scanning alert no. 7: Insecure randomness
  tests/vitest.setup.ts
Due: eslint, prettier

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: prettier
